@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../images/images/food.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
} 

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
    width: 50px;
    margin-top: 1%;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #ce967b;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
} 

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

 /* Seccion de Botones*/

.containerr { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 20px;
    background-color: #f0f0f0;
}

/* Estilos para los contenedores de botones */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Agrega margen inferior entre las filas de botones */
}

/* Estilos para los botones personalizados */
.custom-button {
    border: 2px solid #ffffff;
    padding: 10px 20px;
    margin: 0 10px; /* Agrega margen horizontal entre los botones */
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.button-container button img {
    width: 600px; /* Cambia el ancho del img */
    height: 300px; /* Cambia la altura del img */
}

/* Estilos para los botones al pasar el cursor sobre ellos */
.custom-button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
  
/* Termina seccion de Botones*/

 /*Fondo*/

.footer {
    padding: 100px;
    background-color: #000000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}

.link a {
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}

@media(max-width:991px) {
    
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323232;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }
    
    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    /*Fondo*/

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    /*Botones*/

    .containerr { 
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 0;
        background-color: #f0f0f0;
    }

    .button-container button img {
        width: 300px; /* Cambia el ancho del img */
        height: px; /* Cambia la altura del img */
    }

    /*Logo*/

    .logo {
        color: #FFFDFC;
        font-size: 25px;
        font-weight: 800;
        width: 30px;
        margin-top: 1%;
    }

}